* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(254, 249, 249);
    background-color: black;

}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8%;
    justify-content: space-between;

}
    
.titulo {
    color: brown;
    font-size: larger;

}

.apresentacao__1 {
    width: 30%;
}

.images {
    width: 50%;
}

.conteudo {
    font-size: small;
}